.NavBar {
    background-color: black;
    font-size: 20px;
    color: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px;
    text-align: center;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    min-width: 400px;
}